<link rel="stylesheet" type="text/css" href="addingStyles.css">
<link rel="stylesheet" type="text/css" href="default-theme.css">
<link rel="stylesheet" type="text/css" href="style.css">
</br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs aa-products-tab">
          <li class="nav-item">
            <a class="nav-link active" href="#" data-toggle="tab" aria-expanded="true" onclick="changeTab(event, 'login')">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="tab" aria-expanded="false" onclick="changeTab(event, 'signUp')">Sign Up</a>
          </li>
        </ul>
      <div class="wrapper fadeInDown tabcontent" id="login">
        <div id="formContent">
        </br>
          <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>

    <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div>

          </div>
        </div>

        <div class="wrapper fadeInDown tabcontent" id="signUp">
          <div id="formContent">
          </br>
            <form>
              <input type="text" id="login" class="fadeIn second" name="login" placeholder="Tên bạn">
              <input type="text" id="login" class="fadeIn second" name="login" placeholder="SDT">
              <input type="text" id="login" class="fadeIn second" name="login" placeholder="Địa chỉ">
              <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
              <input type="text" id="password" class="fadeIn third" name="login" placeholder="Mật khẩu">
              <input type="submit" class="fadeIn fourth" value="Sign Up">
            </form>

      <!-- Remind Passowrd -->
            <div id="formFooter">
              <a class="underlineHover" href="#">Forgot Password?</a>
            </div>

            </div>
          </div>
    </div>
  </div>
</div>
<script src="tabBar.js"></script>
