<link rel="stylesheet" type="text/css" href="addingStyles.css">
</br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="aa-header-bottom-area">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign Up</a>
          </li>
        </ul>
      </br>
      <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- <div class="fadeIn first">
            //some icon here
          </div> -->
    <!-- Login Form -->
          <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>

    <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
