<!-- catg header banner section -->
<section id="aa-catg-head-banner">
<img src="fashion-header-bg-8.jpg" alt="fashion img">
<div class="aa-catg-head-banner-area">
 <div class="container">
  <div class="aa-catg-head-banner-content">
    <h2>Quên mật khẩu</h2>
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li class="active">Quên mật khẩu</li>
    </ol>
  </div>
 </div>
</div>
</section>
<!-- / catg header banner section -->

<!-- Cart view section -->
<section id="aa-myaccount">
<div class="container">
 <div class="row">
   <div class="col-md-12">
    <div class="aa-myaccount-area">
        <div class="row">
          <div class="col-md-6">
            <div class="aa-myaccount-login">
            <h4>Quên mật khẩu</h4>
             <form action="" class="aa-login-form">
              <label for="">Nhập email<span>*</span></label>
               <input type="text" placeholder="email">
               <button type="submit" class="aa-browse-btn" id="sendbutton">Gửi</button>
             </br></br></br></br>
               <label for="">Mã đã nhận<span>*</span></label>
                <input type="password" placeholder="Nhập mã tại đây">
                <button type="submit" class="aa-browse-btn">Xác nhận mã</button>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="aa-myaccount-register">
             <h4>Mật khẩu mới</h4>
             <form action="" class="aa-login-form">
                <label for="">Nhập mật khẩu mới<span>*</span></label>
                <input type="text" placeholder="Mật khẩu">
                <label for="">Nhập lại mật khẩu<span>*</span></label>
                <input type="password" placeholder="Mật khẩu">
                <button type="submit" class="aa-browse-btn">Đổi mật khẩu</button>
              </form>
            </div>
          </div>
        </div>
     </div>
   </div>
 </div>
</div>
</section>
