

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Trang giao hàng</h2>
                <ol class="breadcrumb">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active">Giao hàng</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->

<div class="container">
    <div class="row">
        <h2>Đơn hàng của tôi</h2>
    </div>
    <div class="row mb-4" style="background-color:aliceblue; height:50px;">
        <form action="">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><a href="#">Tất cả</a></th>
                            <th><a href="#">Chờ thanh toán</a></th>
                            <th><a href="#">Chờ vận chuyển</a></th>
                            <th><a href="#">Chờ giao hàng</a></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </form>
    </div>
    <div class="row mb-4" style="background-color:aliceblue; height:60px;">
        <div class="col-sm-1">
            <h5>Hiển thị:</h5>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li>
                    <a class="btn dropdown-toggle" href="#" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    5 đơn hàng gần đậy<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">15 ngày gần đây</a></li>
                        <li><a href="#">30 ngày gần đây</a></li>
                        <li><a href="#">6 tháng gần đây</a></li>
                        <li><a href="#">Tất cả đơn hàng</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="cart-view-area">
        <div class="cart-view-table">
            <form action="">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Đơn hàng</th>
                                <th>Hình ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Tình trạng</th>
                                <th>Ngày giao</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#12335454</td>
                                <td><a href="#"><img src="polo-shirt-1.png" alt="img" style="height:150px; width:200px;"></a></td>
                                <td><a class="aa-cart-title" href="#">Polo T-Shirt</a></td>
                                <td>1</td>
                                <td>Đã giao hàng</td>
                                <td>Giao hàng ngày 12 th 11 2018</td>
                            </tr>
                            <tr>
                                <td>#89545644</td>
                                <td><a href="#"><img src="polo-shirt-2.png" alt="img" style="height:150px; width:200px;"></a></td>
                                <td><a class="aa-cart-title" href="#">Polo T-Shirt</a></td>
                                <td>1</td>
                                <td>Đã giao hàng</td>
                                <td>Giao hàng ngày 24 th 12 2018</td>
                            </tr>
                            <tr>
                                <td>#45646871</td>
                                <td><a href="#"><img src="polo-shirt-3.png" alt="img" style="height:150px; width:200px;"></a></td>
                                <td><a class="aa-cart-title" href="#">Polo T-Shirt</a></td>
                                <td>1</td>
                                <td>Đã giao hàng</td>
                                <td>Giao hàng ngày 15 th 3 2019</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
