
<!-- catg header banner section -->
<section id="aa-catg-head-banner">
<img src="fashion-header-bg-8.jpg" alt="fashion img">
<div class="aa-catg-head-banner-area">
 <div class="container">
  <div class="aa-catg-head-banner-content">
    <h2>Trang Thông Tin Tài Khoản chi Tiết</h2>
    <ol class="breadcrumb">
      <li><a href="/">Trang chủ</a></li>
      <li class="active">Trang Thông Tin Tài Khoản Chi Tiết</li>
    </ol>
  </div>
 </div>
</div>
</section>
<!-- / catg header banner section -->

<!-- Cart view section -->
<section id="aa-myaccount">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-myaccount-area">
          <form action="/signup" class="aa-login-form" method="post">
          <div class="row">
            <h4 class="font-weight-bold text-danger">Thông Tin Chi Tiết</h4>
            <div class="col-md-5 col-md-offset-1">
              <div class="aa-myaccount-register">
                  <div class="form-group">
                    <label for="">Tên đăng nhập hoặc email</label>
                    <input type="text" placeholder="" name="UserName" id="UserName">
                  </div>
                  <div class="form-group">
                    <label for="">Mật khẩu</label>
                    <input type="password" placeholder="" name="Password" id="Password">
                  </div>
                  <div class="form-group">
                    <label for="">Tên của bạn</label>
                    <input type="text" placeholder="" name="Name" id="Name">
                  </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="aa-myaccount-register">
                <div class="form-group">
                  <label for="">Địa chỉ</label>
                  <input type="text" placeholder="" name="Address" id="Address">
                </div>
                <div class="form-group">
                  <label for="">Số điện thoại</label>
                  <input type="text" placeholder="" name="pnumber" id="pnumber">
                </div>
                <div class="form-group">
                  <label for="">Email</label>
                  <input type="text" placeholder="" name="Email" id="Email">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
