
<link href="addingStyles.css" rel="stylesheet">

<section id="aa-catg-head-banner">
<img src="fashion-header-bg-8.jpg" alt="fashion img">
<div class="aa-catg-head-banner-area">
 <div class="container">
  <div class="aa-catg-head-banner-content">
    <h2>Trang thông tin tài khoản</h2>
    <ol class="breadcrumb">
      <li><a href="index.html">Trang chủ</a></li>
      <li class="active">Thông tin tài khoản</li>
    </ol>
  </div>
 </div>
</div>
</section>

<section id="aa-myaccount">
<div class="container">
 <div class="row">
   <div class="col-md-12">
    <div class="aa-myaccount-area">
        <div class="row">
          <div class="col-md-4">
            <div class="aa-myaccount-login">
            <h4>Thông tin tài khoản</h4>
            <ul class="aa-footer-nav">
              <li>Họ Tên</li>
              <li>Số điện thoại</li>
              <li>Giới tính</li>
              <li>Địa chỉ</li>
            </ul>
            </div>
          </div>
          <div class="col-md-8">
            <div class="aa-myaccount-login">
            <h4>Cập nhật thông tin</h4>
             <form action="" class="aa-login-form">
              <label for="">Họ tên</label>
               <input type="text" placeholder="Họ tên của bạn">
               <label for="">Số điện thoại</label>
                <input type="password" placeholder="Nhập SDT để trải nghiệm tốt hơn">
                <div class="form-group">
                <form action="">
                  <fieldset>
                  <div class="input-wrap">
                  <div class="row">
                    <!-- <div class="col-md-2">
                      <label class="control-label" for="password">Giới tính</label>
                    </div> -->
                    <div class="col-md-4">
                      <input type="radio" name="gender" value="male" class="radio"/>
                      <label for="male">Nam</label>
                    </div>
                    <div class="col-md-4">
                      <input type="radio" name="gender" value="female" class="radio"/>
                      <label for="female">Nữ</label>
                    </div>
                  </div>
                </div>
              </fieldset>
                </form>
                <label for="">Địa chỉ</label>
                 <input type="password" placeholder="Địa chỉ của bạn">
              </div>
                <button type="submit" class="aa-browse-btn">Cập nhật</button>
              </form>
            </div>
          </div>
        </div>
     </div>
   </div>
 </div>
</div>
</section>
