<!-- catg header banner section -->
<section id="aa-catg-head-banner">
<img src="fashion-header-bg-8.jpg" alt="fashion img">
<div class="aa-catg-head-banner-area">
 <div class="container">
  <div class="aa-catg-head-banner-content">
    <h2>Quên mật khẩu</h2>
    <ol class="breadcrumb">
      <li><a href="index.html">Trang chủ</a></li>
      <li class="active">Quên mật khẩu</li>
    </ol>
  </div>
 </div>
</div>
</section>
<!-- / catg header banner section -->

<!-- Cart view section -->
<section id="aa-myaccount">
    <div class="container"> 
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row">

                        {{#if checkUser}}
                            <h4>Nhập Username muốn đặt lại mật khẩu</h4>
                            <div class="col-md-6 col-md-offset-3">
                                <div class="aa-myaccount-login">
                                    {{#if mess}}
                                        <div class="alert alert-danger">
                                            {{mess}}
                                        </div>
                                    {{/if}}
                                    <form action="/checkUser" method="POST" class="aa-login-form">
                                        <label >Nhập Username<span>(*)</span></label>
                                        <input type="text" placeholder="username" name="Username">
                                        <input type="submit" class="aa-browse-btn" id="sendbutton" value="Xác Nhận">
                                    </form>
                                </div>
                            </div>
                        {{/if}}


                        {{#if checkConfirm}}
                            <h4>Nhập Mã Code Xác Nhận</h4>
                            <div class="col-md-6 col-md-offset-3">
                                <div class="aa-myaccount-login">
                                    {{#if mess}}
                                        <div class="alert alert-danger">
                                            {{mess}}
                                        </div>
                                    {{/if}}
                                    <form action="/sendEmail" method="POST" class="aa-login-form">
                                        <label >Mã xác nhận sẽ gửi đến email<span>(*)</span></label>
                                        <input type="text" placeholder="email" name="Email">
                                        <input type="submit" class="aa-browse-btn" id="sendbutton" value="Gửi">
                                    </form>
                                    <form action="/confirmCode" method="POST" class="aa-login-form">
                                        </br></br>
                                        <label >Mã xác nhận đã nhận<span>(*)</span></label>
                                        <input type="text" placeholder="Nhập mã tại đây" name="Code">
                                        {{#if messOutputCode}}
                                        <label class="text-color-size">{{messOutputCode}}</label><br>
                                        {{/if}}
                                        <input type="submit" class="aa-browse-btn" value="Xác Nhận">
                                    </form>
                                </div>
                            </div>
                        {{/if}}

                        {{#if checkChanges}}
                            <h4>Mật khẩu mới</h4>
                            <div class="col-md-6 col-md-offset-3">
                                <div class="aa-myaccount-register">
                                    {{#if mess}}
                                        <div class="alert alert-danger">
                                            {{mess}}
                                        </div>
                                    {{/if}}
                                    <form action="/checkChanges" class="aa-login-form" method="POST">
                                        <label >Nhập lại tên tài khoản<span>*</span></label>
                                        <input type="text" placeholder="Tên tài khoản" name="Username">
                                        <label >Nhập mật khẩu mới<span>*</span></label>
                                        <input type="password" placeholder="Mật khẩu" name="Password">
                                        <label >Nhập lại mật khẩu<span>*</span></label>
                                        <input type="password" placeholder="Mật khẩu" name="Passconfirm">
                                        <input type="submit" class="aa-browse-btn" value="Đổi Mật Khẩu">
                                    </form>
                                </div>
                            </div>
                        {{/if}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
