
<!-- catg header banner section -->
<section id="aa-catg-head-banner">
<img src="fashion-header-bg-8.jpg" alt="fashion img">
<div class="aa-catg-head-banner-area">
 <div class="container">
  <div class="aa-catg-head-banner-content">
    <h2>Trang đăng ký</h2>
    <ol class="breadcrumb">
      <li><a href="/">Trang chủ</a></li>
      <li class="active">Trang đăng ký</li>
    </ol>
  </div>
 </div>
</div>
</section>
<!-- / catg header banner section -->

<!-- Cart view section -->
<section id="aa-myaccount">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-myaccount-area">
          <form action="/sign-up" class="aa-login-form" method="post">
          <div class="row">
            <h4 class="font-weight-bold text-danger">ĐĂNG KÍ</h4>
            <div class="col-md-5 col-md-offset-1">
              <div class="aa-myaccount-register">
                  <div class="form-group">
                    <label for="">Tên đăng nhập hoặc email<span>(*)</span><span class="node" id="errMessUsername"></span></label>
                    <input type="text" placeholder="Username or email" name="Username" id="Username" onkeyup="checkUsername();">
                  </div>
                  <div class="form-group">
                    <label for="">Mật khẩu<span>(*)</span><span class="node" id="errMessPassword"></span></label>
                    <input class="passwordBox" type="password" placeholder="Password" name="Password" id="Password" onkeyup="checkPassword();">
                    <label class="note">ít nhất 10, nhiều nhất 20 kí tự, có kí tự viết hoa, có chữ số. </label>
                  </div>
                 
                  <div class="form-group">
                    <label for="">Tên của bạn<span>(*)</span><span class="node" id="errMessName"></span></label>
                    <input type="text" placeholder="Name" name="Name" id="Name" onkeyup="checkName();">
                  </div>
<<<<<<< HEAD:views/Customer/sign_up.hbs
                  <div class="form-group">
                    <label for="">Địa chỉ<span>*</span></label>
                    <input type="text" placeholder="Address" name="Address" id="Address">
                  </div>
                  <div class="form-group">
                    <label for="">Số điện thoại<span>*</span></label>
                    <input type="text" placeholder="Phone number" name="pnumber" id="pnumber">
                  </div>
                  <div class="form-group">
                    <label for="">Email<span>*</span></label>
                    <input type="text" placeholder="Email" name="Email" id="Email">
                  </div>
                  <input type='hidden' name="_csrf" >
                  <!-- value="{{ csrfToken }}" -->
                  <button type="submit" class="aa-browse-btn">Đăng Ký</button>
                </form>
=======
>>>>>>> e708b42a5ddf346c217c50345c0b8cb23e1fde95:views/Customer/sign-up.hbs
              </div>
            </div>
            <div class="col-md-5">
              <div class="aa-myaccount-register">
                <div class="form-group">
                  <label for="">Địa chỉ<span>(*)</span><span class="node" id="errMessAddress"></span></label>
                  <input type="text" placeholder="Address" name="Address" id="Address" onkeyup="checkAddress();">
                </div>
                <div class="form-group">
                  <label for="">Số điện thoại<span>(*)</span><span class="node" id="errMessPhoneNumber"></span></label>
                  <input type="text" placeholder="Phone number" name="PhoneNumber" id="PhoneNumber" onkeyup="checkPhoneNumber();">
                </div>
                <div class="form-group">
                  <label for="">Email<span>(*)</span><span class="node" id="errMessEmail"></span></label>
                  <input type="text" placeholder="Email" name="Email" id="Email" onkeyup="checkEmail();">
                </div>
              </div>
            </div>
            <button type="submit" class="aa-browse-btn col-sm-offset-5">Đăng Ký</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="validator.js"></script>
</section>
